### Listas

In [1]:
#Criando uma lista
listadomercado = ["ovos, farinha, leite, maças"]

In [2]:
# Imprimindo a lista
print(listadomercado)

['ovos, farinha, leite, maças']

In [3]:
# Criando outra lista
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [4]:
print(listadomercado2)

['ovos', 'farinha', 'leite', 'maças']

In [9]:
listadomercado[0]

'ovos, farinha, leite, maças'

In [10]:
listadomercado2[0]

'ovos'

In [13]:
# Criando lista
lista3 = [12, 100, "Universidade"]

In [14]:
# Imprimindo 
print(lista3)

[12, 100, 'Universidade']

In [16]:
# Atribuindo valor da lista a uma variável
item1 = lista3[0]
item2 = lista3[1]
item3 = lista3[2]

In [17]:
# Imprimindo as variáveis
print(item1, item2, item3)

12 100 Universidade

### Atualizando uma lista

In [18]:
# Imprimindo um item da lista
listadomercado2[2]

'leite'

In [20]:
# Atualizando um item da lista
listadomercado2[2] = "chocolate"

In [22]:
# Imprimindo lista alterada
listadomercado2

['ovos', 'farinha', 'chocolate', 'maças']

### Deletando um item da lista

In [23]:
# Saída de índice, não é possível deletar um item que não existe na lista
del listadomercado2[4]

IndexError: list assignment index out of range

In [24]:
# Deletando um item específico da lista
del listadomercado2[3]

In [25]:
# Imprimindo o item com a lista alterada
listadomercado2

['ovos', 'farinha', 'chocolate']

### Listas de listas (Listas aninhadas)

Listas de listas são matrizes em Python

In [26]:
# Criando uma lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [27]:
# Imprimindo a lista
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [29]:
# Atribuindo um item da lista a uma das variáveis
a = listas[0]

In [30]:
a

[1, 2, 3]

In [31]:
b = a[0]

In [32]:
b

1

In [33]:
list1 = listas[1]

In [34]:
list1

[10, 15, 14]

In [36]:
valor_1_0 = list1[0]

In [37]:
valor_1_0

10

In [39]:
valor_1_2 = list1[2]

In [40]:
valor_1_2

14

In [41]:
list2 = listas[2]

In [42]:
list2

[10.1, 8.7, 2.3]

In [43]:
valor_2_0 = list2[0]

In [44]:
valor_2_0

10.1

### Operações com listas

In [45]:
# Criando uma lista aninhada (lista de listas)

In [46]:
listas = [[1,2,3],[10,15,14],[10.1,8.7,2.3]]

In [47]:
a = listas[0][0]

In [48]:
a

1

In [49]:
b = listas[1][2]

In [50]:
b

14

In [51]:
c = listas[0][2] + 10

In [52]:
c

13

In [53]:
d = 10

In [54]:
d

10

In [56]:
e = d * listas[2][0]

In [57]:
e

101.0

In [58]:
listas_test = [listas[0],listas[1],[a,b,c]]

In [59]:
listas_test

[[1, 2, 3], [10, 15, 14], [1, 14, 13]]

In [60]:
listas_test2 = [listas[0],[a,b,c],[listas[2][1],d,e]]

In [61]:
listas_test2

[[1, 2, 3], [1, 14, 13], [8.7, 10, 101.0]]

In [62]:
int(e)

101

In [64]:
listas_test2 = [listas[0],[a,b,c],[listas[2][1],d,int(e)]]

In [65]:
listas_test2

[[1, 2, 3], [1, 14, 13], [8.7, 10, 101]]

In [66]:
listas_test2 = [listas[0],[a,b,c],[int(listas[2][1]),d,int(e)]]

In [67]:
listas_test2

[[1, 2, 3], [1, 14, 13], [8, 10, 101]]

In [73]:
# Ao se realizar float do objeto 'lista' ocorrerá um bug: "Número float (decimal) somente pode ser usado por números e strings. 
# Jamais por listas. Mas...há formas de acessar os valores e torná-los decimais!!!"
listas_test2 = [[float(listas[0])],[float(a,b,c)],[listas[2][1],float(d),e]]

TypeError: float() argument must be a string or a number, not 'list'

In [71]:
listas_test2 = [[float(listas[0][0]),float(listas[0][1]),float(listas[0][2])],[float(a),float(b),float(c)],[listas[2][1],float(d),e]]

In [72]:
listas_test2

[[1.0, 2.0, 3.0], [1.0, 14.0, 13.0], [8.7, 10.0, 101.0]]

### Concatenando listas

In [74]:
lista_s1 = [34, 32, 56]

In [76]:
lista_s1

[34, 12, 56]

In [77]:
lista_s2 = [21,90,51]

In [78]:
lista_s2

[21, 90, 51]

In [79]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [80]:
lista_total

[34, 12, 56, 21, 90, 51]

### Operador in

In [85]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [86]:
lista_teste_op

[100, 2, -5, 3.4]

In [87]:
# Verificando se o valor 100 pertence a lista
print (100 in lista_teste_op)

True

### Funções Built-in

In [88]:
# Função len() retorna o comprimento da lista
len(lista_teste_op)

4

In [89]:
# Função max() retorna o valor máximo da lista
max(lista_teste_op)

100

In [90]:
# Função min() retorna o valor mínimo da lista
min(lista_teste_op)

-5

In [94]:
# Criando uma lista
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [95]:
# Adicionando um elemento à lista
listadomercado2.append("carne")

In [96]:
listadomercado2

['ovos', 'farinha', 'leite', 'maças', 'carne']

In [98]:
listadomercado2.append("carne")

In [99]:
listadomercado2

['ovos', 'farinha', 'leite', 'maças', 'carne', 'carne']

In [100]:
listadomercado2.count("carne")

2

In [101]:
# Criando uma lista vazia
a = []

In [102]:
print(a)

[]

In [114]:
type(a)

list

In [118]:
a.append(10)

In [119]:
a

[50, 50, 10, 10, 10, 10, 10, 10, 10]

In [121]:
a.append(50)

In [122]:
a

[50, 50, 10, 10, 10, 10, 10, 10, 10, 50, 50]

In [124]:
old_list = [1,2,5,10]

In [125]:
new_list = []

In [126]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [127]:
new_list

[1, 2, 5, 10]

In [129]:
c = [20,30]

In [130]:
c

[20, 30]

In [131]:
c.append(60)

In [132]:
c

[20, 30, 60]

In [133]:
c.append(70)

In [134]:
c

[20, 30, 60, 70]

In [135]:
c.count(20)

1

In [137]:
cidades = ["Recife", "Manaus", "Salvador"]
cidades.extend(["Fortaleza","Palmas"])
print(cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [138]:
cidades.index("Salvador")

2

Lembre-se: em Python o índice começa por 0!

In [139]:
cidades.index("Rio de Janeiro")

ValueError: 'Rio de Janeiro' is not in list

In [140]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [148]:
cidades.insert(2, 110)

In [149]:
cidades

['Recife', 'Manaus', 110, 110, 110, 110, 'Salvador', 'Fortaleza', 'Palmas']

In [151]:
# Remover um item da lista
cidades.remove(110)

In [152]:
cidades

['Recife', 'Manaus', 110, 110, 110, 'Salvador', 'Fortaleza', 'Palmas']

In [154]:
# Reverter a lista
cidades.reverse()

In [155]:
cidades

['Recife', 'Manaus', 110, 110, 110, 'Salvador', 'Fortaleza', 'Palmas']

In [156]:
cidades.remove(110)

In [157]:
cidades

['Recife', 'Manaus', 110, 110, 'Salvador', 'Fortaleza', 'Palmas']

In [158]:
cidades.remove(110)

In [159]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [160]:
cidades.remove(110)

In [161]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [163]:
cidades.reverse()

In [164]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [165]:
# Imprime a lista
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [167]:
x = [3, 4, 2, 1]

In [168]:
x

[3, 4, 2, 1]

In [170]:
# Ordenar a lista
x.sort()

In [171]:
x

[1, 2, 3, 4]

### Fim

#### Obrigado pela sua atenção! Lembre-se sempre: "Em Deus faremos proezas". Sl. 60.12